# Virtual Environment
.venv/
.venv-1/

# Python cache
__pycache__/
*.pyc

# System files
.DS_Store
Thumbs.db

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Logs
*.log

